<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 class="h3 mb-2 text-gray-800">Đơn hàng</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3 row">
            <h6 class="m-0 font-weight-bold text-primary col-md-4">Danh sách các đơn hàng</h6>
            <div class="d-flex justify-content-center mt-2">
                <form class="col-md-12" method="GET">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <select class="form-select" aria-label="Default select example" name="orderStatusCode">
                                    <option value="">--Tình trạng--</option>                                                                                                    
                                    <option th:if="${param.orderStatusCode}" th:each="item:${orderStatus}" 
                                    th:value="${item.orderStatusCode}" th:selected="${param.orderStatusCode[0]==item.orderStatusCode}">[[${item.orderStatusName}]]</option>
                                    <option th:unless="${param.orderStatusCode}" th:each="item:${orderStatus}" th:value="${item.orderStatusCode}">[[${item.orderStatusName}]]</option>  
                                                                                                          
                            </select> 
                        </div>  
                        <input type="hidden" name="page" value="1" />
                        <input type="hidden" name="limit" th:value="${limit}" />                    
                        <div class="col-md-2">
                                <button class="btn btn-primary" type="submit">
                                    Lọc <i class="fas fa-search fa-sm"></i>
                                </button>
                        </div>
                    </div>
                </form>              
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:100px;text-align: center;">Mã đơn hàng</th>
                            <th style="width:200px;text-align: center;">Tên khách hàng</th>  
                            <th style="width:200px;text-align: center;">Số điện thoại - Địa chỉ</th>  
                            <th style="width:160px;text-align:center;">Tổng tiền(VND)</th>
                            <th style="width:150px">Ngày đặt hàng</th>                                                                                                                         
                            <th style="width:150px">Trạng thái</th>                            
                            <th style="width:50px">In</th>                                                                                   

                        </tr>
                    </thead>                                   
                    <tbody>                     
                        <tr th:each="item:${orders}">
                            <td style="text-align:center;">[[${item.orderCode}]]</td>
                            <td style="width:200px;text-align: center;">[[${item.fullName}]]</td>                                           
                            <td style="width:200px;text-align: center;">[[${item.address}]]</td>
                            <td style="text-align:center;">[[${item.totalMoney}]]</td>
                            <td>[[${item.orderDate}]]</td>
                            <td style="width:110px">
                                <select name="status" id="status">                                                                       
                                    <option th:each="os:${orderStatus}" th:value="|${item.orderCode}-${os.orderStatusCode}|"
                                    th:selected="${os.orderStatusCode==item.orderStatusCode}">[[${os.orderStatusName}]]</option>                                                                                     
                                </select>
                            </td>                           
                            <td style="width:50px"><a href="#" class="btn btn-primary"><i class="fas fa-fw fa-print"></i></a></td>                                            
                        </tr>                       
                    </tbody>
                </table>
                <div class="d-flex">
                    <nav aria-label="Page navigation example" th:if="${totalPage>0}">
                        <ul class="pagination">
                          <li class="page-item" th:classappend="${page>1}?'':'disabled'"><a class="page-link" th:href="@{/admin/order(orderStatusCode=${orderStatusCode},page=${page-1},limit=${limit})}">Previous</a></li>
                          <li th:each="item:${#numbers.sequence(1,totalPage)}" 
                          class="page-item" th:classappend="${item==page}?'active':''">
                            <a class="page-link"th:if="${item==page+1||item==page-1||item==page}" 
                            th:href="@{/admin/order(orderStatusCode=${orderStatusCode},page=${item},limit=${limit})}">
                                [[${item}]]
                            </a>
                           </li>                             
                          <li class="page-item" th:classappend="${page<totalPage}?'':'disabled'"><a class="page-link" th:href="@{/admin/order(orderStatusCode=${orderStatusCode},page=${page+1},limit=${limit})}">Next</a></li>
                        </ul>
                      </nav> 
                      <p th:unless="${totalPage>0}" style="font-size:25px;">Không tìm thấy kết quả !</p> 
                </div>
            </div>
        </div>
    </div>
    </div>
    <script layout:fragment="script">
        $('select[name=status]').change(function(){     	
            let select = $(this).children('option:selected').val();
            let value = select.split('-');
            let orderCode = value[0];     
            let orderStatusCode = value[1];
            
            var url = '/admin/order/update/'+orderCode+'?orderStatusCode='+orderStatusCode;
            $.ajax({
                  url:url,
                  method:'PUT',
                  success:function(){
                    console.log("Success!")
                  },
                  error:function(){
                    console.log("Error!")
                  }      
            }).done(function() {
                location.href = '/admin/order'+'?orderStatusCode='+orderStatusCode+"&page=1&limit=2";
            });
        })
    </script>
</body>
</html>